<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tincan.tincan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.sip.voip" android:required="true" />
    <uses-feature android:name="android.hardware.wifi" android:required="true" />
    <uses-feature android:name="android.hardware.microphone" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="WAA"
        android:theme="@style/tincanTheme" >
        <activity
            android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="com.tincan.tincan.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data 
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow"/>
        </activity>
        
        <activity android:name=".About"
            android:label="@string/label_about"
            android:parentActivityName="com.tincan.tincan.MainActivity">
            <intent-filter>
                <action android:name="com.tincan.test.About" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tincan.tincan.MainActivity" />
        </activity>
        
        <activity android:name=".CallRates"
            android:label="@string/label_callrates"
            android:parentActivityName="com.tincan.tincan.MainActivity">
            <intent-filter>
                <action android:name="com.tincan.test.CallRates" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tincan.tincan.MainActivity" />
        </activity>
        
        <activity android:name=".Call"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.tincan.test.Call" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".CallLogs"
            android:label="@string/label_recent"
            android:parentActivityName="com.tincan.tincan.MainActivity">
            <intent-filter>
                <action android:name="com.tincan.app.CallLogs" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tincan.tincan.MainActivity" />
        </activity>
               
        <activity android:name=".Profile" android:label="@string/label_settings" />
        <activity android:name=".Settings" android:label="@string/label_settings" />
        <receiver android:name="com.tincan.test.IncomingCallReceiver" android:label="Call Receiver"/>
    </application>

</manifest>
